body
{
  color: #000;
  margin: 0;
  padding: 16px;
  background-color: #ccc;
}

div
{
  width: 128px;
  height: 128px;
  position: absolute;
  top: 196px;
  border: 1px solid #000;
  padding: 4px;
  text-align: center;
}

div#a
{
  background-color: #faa;
}

div#b
{
  background-color: #aaf;
  left: 256px;
}

div#c
{
	top: 512px;
}

div#line
{
  border: 0;
  border-top: 1px dashed #000;
  top: 394px;
  height: auto;
}